<section id="aboutUs">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img
            src="../../../../../assets/about1.png"
            alt="Imagem Sobre Nós"
            class="img-fluid rounded"
          />
        </div>
        <div class="col-md-6 text">
          <h1>Larissa Dionizio</h1>
          <p>
            Ao longo de nove anos de dedicação à micropigmentação, Larissa
            Dionizio tornou-se uma referência, realizando mais de 8.000
            procedimentos. Seu atelier é um espaço onde a autoestima é elevada e
            a confiança é restaurada, com uma abordagem personalizada que
            destaca as características únicas de cada cliente.
          </p>
          <p>
            Além de sua expertise em micropigmentação, Larissa oferece também
            tattoos fine line, destacando-se pela delicadeza e precisão dessa
            forma única de tatuagem. A paixão de Larissa vai além do estético,
            refletindo-se nas transformações pessoais e histórias impactantes
            que ela inspira.
          </p>
          <p>
            Larissa Dionizio não apenas domina a arte da micropigmentação, mas
            utiliza cada traço como uma declaração de individualidade. Seu
            atelier é um espaço onde a beleza se torna uma forma de arte, e a
            autenticidade é celebrada em cada procedimento.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
