<div id="addProductDialog">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-between">
      <h1>Adicionar Produtos</h1>
      <button (click)="close()" mat-dialog-close mat-icon-button>
        <mat-icon class="mat-icon-close">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 title"></div>
  </div>

  <mat-dialog-content class="description">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Selecione o produto</mat-label>
          <mat-select [(ngModel)]="itemSelected" name="food">
            <mat-option *ngFor="let item of listProducts" [value]="item">
              {{ item.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label
            >Quantidade em
            {{ itemSelected?.unitOfMeasure.description }}</mat-label
          >
          <input
            [disabled]="!itemSelected"
            matInput
            type="number"
            [placeholder]="
              'Quantidade em ' + itemSelected?.unitOfMeasure.description
            "
            [(ngModel)]="quantity"
            min="0"
          />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <button
          (click)="add()"
          color="primary"
          mat-raised-button
          [disabled]="!itemSelected || quantity <= 0"
          style="width: 100%; margin-top: 4px; height: 50px"
        >
          <mat-icon class="mat-icon-close">add</mat-icon> Adicionar
        </button>
      </div>
    </div>

    <div class="row product-list">
      <div class="col-md-10">Descrição</div>
      <div class="col-md-2">Qtd</div>
    </div>

    <div class="row product-list" *ngFor="let item of listProductsSelected">
      <div class="col-md-10">
        {{ item.product.description }}
      </div>
      <div class="col-md-1">
        {{ item.quantity }}
      </div>
      <div class="col-md-1">
        <button (click)="delete(item)" mat-icon-button color="primary">
          <mat-icon class="mat-icon-close">delete_outline</mat-icon>
        </button>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="mt-5">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      (click)="save()"
      color="primary"
      cdkFocusInitial
      *ngIf="listProductsSelected.length > 0"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</div>
