@import "../../../my-theme.scss";

#supplierList {
  .header {
    background-color: #fff;
  }

  ::ng-deep {
    .cdk-column-id {
      width: 75px;
      max-width: 75px;
    }
    // .cdk-column-actions {
    //   width: 104px;
    //   max-width: 104px;
    // }
    // .cdk-column-cpf {
    //   width: 120px;
    //   max-width: 120px;
    // }
    // .cdk-column-rg {
    //   width: 120px;
    //   max-width: 120px;
    // }
    // .cdk-column-phoneNumber {
    //   width: 120px;
    //   max-width: 120px;
    // }
  }

  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }

  .mat-table {
    overflow: auto;
  }

  .mobile-label {
    display: none;
  }

  @media (max-width: 1024px) {
    ::ng-deep {
      mat-row,
      mat-footer-row {
        min-height: 29px;
      }
      .cdk-column-id {
        width: 100%;
        max-width: 100%;
      }

      .mat-cell:first-of-type {
        padding: 0px;
      }
    }

    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }

    .mat-header-row {
      display: none;
    }

    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
  }
}
