<div class="text-center body">
  <main class="form-signin p-3">
    <form
      [formGroup]="resetFormData"
      (ngSubmit)="resetPassword()"
      autocomplete="off"
    >
      <img class="mb-4" src="../assets/logo.png" alt="" width="100%" />

      <h1 class="h3 mb-3 fw-normal">Recuperação de conta</h1>

      <h3 class="fw-normal">
        Pronto! Agora você pode recuperar sua conta. Preencha os campos com seu
        email e a nova senha.
      </h3>

      <div class="form-floating mb-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="Email"
            type="text"
            formControlName="email"
          />
          <mat-error
            *ngIf="resetFormData.controls['email'].hasError('required')"
          >
            Email é obrigatório
          </mat-error>
          <mat-error *ngIf="resetFormData.controls['email'].hasError('email')">
            Email inválido
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-floating mb-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Senha</mat-label>
          <input
            matInput
            placeholder="Nova Senha"
            [type]="hide ? 'password' : 'text'"
            formControlName="newPassword"
          />
          <mat-icon
            class="material-icons-outlined"
            matSuffix
            (click)="hide = !hide"
          >
            {{ hide ? "visibility_off" : "visibility" }}</mat-icon
          >
          <mat-error
            *ngIf="resetFormData.controls['newPassword'].hasError('required')"
          >
            Nova Senha é obrigatório
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-floating mb-3">
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Confirmar Senha</mat-label>
          <input
            matInput
            placeholder="Confirmar Nova Senha"
            [type]="hide1 ? 'password' : 'text'"
            formControlName="confirmNewPassword"
            autocomplete="true"
          />
          <mat-icon
            class="material-icons-outlined"
            matSuffix
            (click)="hide1 = !hide1"
          >
            {{ hide1 ? "visibility_off" : "visibility" }}</mat-icon
          >
          <mat-error
            *ngIf="
              resetFormData.controls['confirmNewPassword'].hasError('required')
            "
          >
            Confirmar Nova Senha é obrigatório
          </mat-error>

          <mat-error
            *ngIf="
              resetFormData.controls['confirmNewPassword'].invalid &&
              resetFormData.touched
            "
          >
            Senhas não correspondem.
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" class="mb-5">
        Entrar
      </button>
      <p class="mb-3 text-muted">
        Lembrou a senha?
        <a color="primary" [routerLink]="['/login']">clique aqui</a>
      </p>
    </form>
  </main>
</div>
