
.carousel-inner {
  // height: 90vh;
}

.carousel-indicators {
  button {
    width: 70px;
    height: 6px;
  }

  .active {
    background-color: #fa9703;
  }

  
}

@media screen and (max-width: 820px) {
  .carousel-inner {
    height: 100%;
  }
  
}