<section id="serviceStarted" *ngIf="showForm">
  <div class="row">
    <div class="col-md-12 mt-4">
      <h1>Iniciado - {{ appointment.servicing.description }}</h1>
    </div>
  </div>

  <div class="row">
    <h2 class="mb-1">Dados pessoais do cliente</h2>

    <div class="col-md-12">
      <p><strong>Nome completo:</strong> {{ appointment.client.name }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p><strong>RG:</strong> {{ appointment.client.rg }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p><strong>CPF:</strong> {{ appointment.client.cpf }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p>
        <strong>Data de nascimento:</strong>
        {{ appointment.client.dateOfBirth | date : "dd/MM/yyyy" }}
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <p><strong>Bairro:</strong> {{ appointment.client.address.district }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p><strong>Cidade:</strong> {{ appointment.client.address.city.name }}</p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p>
        <strong>Estado:</strong> {{ appointment.client.address.city.uf.name }}
      </p>
    </div>

    <div class="col-md-6 col-lg-4">
      <p>
        <strong>Whatsapp:</strong> {{ appointment.client.phoneNumber | phone }}
      </p>
    </div>
    <div class="col-md-6 col-lg-4">
      <p><strong>E-mail:</strong> {{ appointment.client.email }}</p>
    </div>

    <div class="col-md-12 mb-2">
      <p><strong>Observações:</strong> {{ appointment.client.observations }}</p>
    </div>

    <div class="row mb-3" *ngIf="appointment.client.nameResponsible !== null">
      <div class="col-md-12">
        <p>
          <strong>Se for menor (responsável): </strong>
          {{ appointment.client.nameResponsible }}
        </p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p><strong>RG:</strong> {{ appointment.client.rgResponsible }}</p>
      </div>
      <div class="col-md-6 col-lg-4">
        <p><strong>CPF:</strong> {{ appointment.client.cpfResponsible }}</p>
      </div>
    </div>
  </div>

  <hr />

  <div class="row my-3">
    <h2 class="my-0">Anamnese</h2>
    <div class="col-md-4" *ngFor="let item of anamneselist; index as i">
      <mat-checkbox
        class="example-margin"
        [(ngModel)]="item.checked"
        [disabled]="true"
      >
        {{ item.name }}
      </mat-checkbox>
    </div>
  </div>

  <hr />

  <div class="row my-3">
    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Valor</mat-label>
        <span matPrefix>R$ &nbsp;</span>
        <input
          matInput
          type="number"
          placeholder="Valor do serviço"
          [(ngModel)]="appointment.price"
          min="0.00"
          max="10000.00"
          step="1.01"
        />
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Forma de pagamento</mat-label>
        <mat-select [(ngModel)]="appointment.paymentType">
          <mat-option value="CREDT_CARD">CARTÃO DE CRÉDITO</mat-option>
          <mat-option value="CASH">DINHEIRO</mat-option>
          <mat-option value="PIX">PIX</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12 text-center">
      <button mat-raised-button color="primary" (click)="save()">
        Finalizar
      </button>
    </div>
  </div>
</section>
