@import "../../../my-theme.scss";

#UserCreate {
  .actions-buttons {
    button {
      width: 200px;
    }
  }
  textArea {
    height: 200px;
    resize: none;
  }

  @media screen and (max-width: 768px) {
    .actions-buttons {
      button {
        width: 100%;
      }
    }
  }
}
