<section id="productList">
  <div class="row">
    <div class="col-md-12 mt-2 mt-md-4">
      <h1>Lista de Produtos</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-1 my-md-3">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4 py-1 py-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Filtrar</mat-label>
              <input
                matInput
                placeholder="Filtrar pela descrição"
                formControlName="search"
                type="text"
                (keyup)="!form.value.search ? getListProducts() : null"
              />
            </mat-form-field>
          </div>
          <div class="col-md-2 pt-1 pt-md-3">
            <button
              mat-raised-button
              class="d-md-none form-control"
              color="primary"
              matTooltip="Filtrar"
              (click)="getListSearch()"
              [disabled]="!form.value.search"
            >
              Pesquisar
            </button>

            <button
              mat-fab
              color="primary"
              class="d-none d-sm-none d-md-block"
              matTooltip="Filtrar"
              (click)="getListSearch()"
              [disabled]="!form.value.search"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
          <div
            class="col-md-6 py-1 py-md-3 text-end py-3 d-flex align-items-end flex-column"
          >
            <a
              mat-raised-button
              color="primary"
              class="d-md-none form-control"
              matTooltip="Adicionar Produto"
              routerLink="/product-create"
            >
              Adicionar Produto
            </a>
            <a
              mat-fab
              class="d-none d-sm-none d-md-block"
              color="primary"
              matTooltip="Adicionar Produto"
              routerLink="/product-create"
            >
              <mat-icon>add</mat-icon>
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 example-container">
      <mat-table #table [dataSource]="dataSource" [class.isMobile]="true">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">ID:</span>
            {{ element.id }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Descrição</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Descrição:</span>
            {{ element.name }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="brand">
          <mat-header-cell *matHeaderCellDef>Marca</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Marca:</span>
            {{ element.brand }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef>Quantidade</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Quantidade:</span>
            {{ element.quantity }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="unitOfMeasure">
          <mat-header-cell *matHeaderCellDef>Unidade</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Unidade:</span>
            {{ element.unitOfMeasure.description }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="supplier">
          <mat-header-cell *matHeaderCellDef>Fornecedor</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Fornecedor:</span>
            {{ element.supplier.name }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="active">
          <mat-header-cell *matHeaderCellDef>Ativo</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Ativo:</span>
            {{ element.active ? "Ativo" : "Inativo" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Ações:</span>
            <a
              mat-icon-button
              color="primary"
              (click)="goToEditProduct(element)"
            >
              <mat-icon
                class="material-icons-outlined"
                matTooltip="Editar Produto"
              >
                mode_edit_outline
              </mat-icon>
            </a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        id="paginator"
        [pageSizeOptions]="[10, 20, 30, 100]"
        [pageIndex]="0"
        [length]="listLength"
        showFirstLastButtons
        aria-label="Selecionar Página"
        (page)="onPaginatorChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</section>
