<section id="servicings">
  <div class="container-fluid bg-container">
    
    <div class="container">
      <div class="row">
        <div class="col-md-12 title">
          <h2>Procedimentos</h2>
          <p>
            Aqui estão alguns dos nossos procedimentos mais realizados.
          </p>
        </div>
      </div>
      <div class="row">

        <div class="bg-cards">
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Micropigmentação fio a fio</p>
              <p class="description">A micropigmentação é a técnica de preencher as sobrancelhas fio a fio, através de um aparelho que funciona por agulhas e estímulos de corrente elétrica. Seu nome é dermógrafo. Esse procedimento aplica tinta nas falhas e ajuda a delinear as sobrancelhas.</p>
            </div>
          </div>
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Micropigmentação shading</p>
              <p class="description">Essa é a técnica ideal para quem procura um resultado mais suave, mais leve. Por sua maior precisão, ela reduz o espaçamento entre os fios desenhados e deixa os pigmentos menos perceptíveis.</p>
            </div>
          </div>
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Micropigmentação híbrida</p>
              <p class="description">Basicamente, a micropigmentação híbrida, como o próprio nome nos dá a entender, une duas técnicas de micropigmentação de sobrancelhas, oferecendo um acabamento bastante interessante e bonito.</p>
            </div>
          </div>
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Nanoblading fio a fio</p>
              <p class="description">A Nanoblading é uma técnica de pigmentação semipermanente, com duração média de 8 meses. Pode ser feita por quem deseja cobrir falhas ou até mesmo remodelar as sobrancelhas por completo. Ela é menos invasiva do que a maquiagem definitiva e garante um ar mais natural.</p>
            </div>
          </div>
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Micropigmentação labial</p>
              <p class="description">Quem possui lábios pálidos ou arroxeados naturalmente procura a técnica para dar mais vida à boca, tornando seu sorriso ainda mais belo. Com resultados naturais, a técnica vem caindo no gosto das brasileiras.</p>
            </div>
          </div>
          <div class="servicing">
            <div class="image">
              <img src="../../../../../assets/portifolio9.jpg" alt="">
            </div>
            <div class="text">
              <p class="title">Tatuagem</p>
              <p class="description">O traço fino, ou fineline, é um estilo de tatuagem muito popular e detalhado. Extremamente versátil, os desenhos desse tipo estão cada vez mais em alta entre as tattoos, ganhando destaque em diferentes partes do corpo devido à versatilidade, simetria e representação na pele.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>
