<section id="allServiceList">
  <div class="row">
    <div class="col-md-12 mt-2 mt-md-4">
      <h1>Lista de Serviços</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 my-1 my-md-3">
      <form [formGroup]="form">
        <div class="row">
          <div class="col-md-4 py-1 py-md-3">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Filtrar</mat-label>
              <input
                matInput
                placeholder="Filtrar pela descrição"
                formControlName="search"
                type="text"
                (keyup)="!form.value.search ? getListServices() : null"
              />
            </mat-form-field>
          </div>
          <div class="col-md-2 pt-1 pt-md-3">
            <button
              mat-raised-button
              class="d-md-none form-control"
              color="primary"
              matTooltip="Filtrar"
              (click)="getListSearch()"
              [disabled]="!form.value.search"
            >
              Pesquisar
            </button>

            <button
              mat-fab
              color="primary"
              class="d-none d-sm-none d-md-block"
              matTooltip="Filtrar"
              (click)="getListSearch()"
              [disabled]="!form.value.search"
            >
              <mat-icon>search</mat-icon>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 example-container">
      <mat-table #table [dataSource]="dataSource" [class.isMobile]="true">
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">ID:</span>
            {{ element.id }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="client">
          <mat-header-cell *matHeaderCellDef>Cliente</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Cliente:</span>
            {{ element.client.name }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="servicing">
          <mat-header-cell *matHeaderCellDef>Serviço</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Serviço:</span>
            {{ element.servicing.description }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef>Profissional</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Profissional:</span>
            {{ element.user.name }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="dateHour">
          <mat-header-cell *matHeaderCellDef>Agendamento</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Agendamento:</span>
            {{
              element.dateHour | date : "dd/MM/YYYY HH:mm" : "GMT-6"
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="finishedDate">
          <mat-header-cell *matHeaderCellDef>Finalização</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Finalização:</span>
            {{
              element.finishedDate !== null
                ? (element.finishedDate | date : "dd/MM/YYYY HH:mm" : "GMT-6")
                : "-"
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="paymentType">
          <mat-header-cell *matHeaderCellDef>Tipo Pagamento</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Tipo Pagamento:</span>
            {{
              element.paymentType !== null
                ? (element.paymentType | paymentMethodPipe)
                : "-"
            }}</mat-cell
          >
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Valor:</span>
            {{ element.price !== 0 ? (element.price | currency : "R$") : "-" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="serviceProvided">
          <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span class="mobile-label">Status:</span>
            {{
              !element.open &&
              element.appointmentTime === 0 &&
              element.finishedDate === null
                ? "Cancelado"
                : ""
            }}

            {{ element.open && element.appointmentTime > 0 ? "Aberto" : "" }}

            {{
              !element.open && element.finishedDate !== null ? "Finalizado" : ""
            }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
      <mat-paginator
        id="paginator"
        [pageSizeOptions]="[10, 20, 30, 100]"
        [pageIndex]="0"
        [length]="listLength"
        showFirstLastButtons
        aria-label="Selecionar Página"
        (page)="onPaginatorChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</section>
