<section id="galery">
  <div class="container-fluid bg-container">
    <div class="container bg-galery">
      <div class="row">
        <div class="col-md-12 title">
          <h1>Galeria</h1>
          <p>Um Pouco Sobre Nosso Ofício Artístico</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
            <a href="../../../../../assets/portifolio1.jpg">
              <img alt="img1" src="../../../../../assets/portifolio1.jpg" />
            </a>
            <a href="../../../../../assets/portifolio2.jpg">
              <img alt="img1" src="../../../../../assets/portifolio2.jpg" />
            </a>
            <a href="../../../../../assets/portifolio4.jpg">
              <img alt="img1" src="../../../../../assets/portifolio4.jpg" />
            </a>
            <a href="../../../../../assets/portifolio5.jpg">
              <img alt="img1" src="../../../../../assets/portifolio5.jpg" />
            </a>
            <a href="../../../../../assets/portifolio6.jpg">
              <img alt="img1" src="../../../../../assets/portifolio6.jpg" />
            </a>
            <a href="../../../../../assets/portifolio7.jpg">
              <img alt="img1" src="../../../../../assets/portifolio7.jpg" />
            </a>
            <a href="../../../../../assets/portifolio8.jpg">
              <img alt="img1" src="../../../../../assets/portifolio8.jpg" />
            </a>
            <a href="../../../../../assets/portifolio9.jpg">
              <img alt="img1" src="../../../../../assets/portifolio9.jpg" />
            </a>
            <a href="../../../../../assets/portifolio10.jpg">
              <img alt="img1" src="../../../../../assets/portifolio10.jpg" />
            </a>
            <a href="../../../../../assets/portifolio11.jpg">
              <img alt="img1" src="../../../../../assets/portifolio11.jpg" />
            </a>
          </lightgallery>
        </div>
      </div>
    </div>
  </div>
</section>
