<section id="navbarTop">
  <div
    class="navbar navbar-expand-md navbar-light fixed-top"
    [class.navbar-expanded]="navbarExpanded"
    [class.navbar-collapsed]="!navbarExpanded"
  >
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>

      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" appScrollSpy href="#home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" appScrollSpy href="#aboutUs">SOBRE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" appScrollSpy href="#">PROCEDIMENTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" appScrollSpy href="#galery">GALERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" appScrollSpy href="#maps">LOCALIZAÇÃO</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/#/admin/login" target="_blank">LOGIN</a>
        </li>
      </ul>
    </div>
  </div>
</section>
